.orders {
  padding: 20px 80px;
  background-color: #fff;
}

.order {
  margin: 25px 0;
  border: 1px solid lightgray;
  background-color: white;
  position: relative;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.order__shiptoTitle,
.order__total,
.order__topTitleItem h2 {
  font-size: 16px;
  text-transform: uppercase;
}

.order__top {
  padding: 20px;
  background-color: #f5f5f5;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  display: flex;
  justify-content: space-between;
  color: #5e5e5e;
}

.oder__topTitle {
  display: flex;
  gap: 30px;
}

.order__checkoutProduct {
  padding: 0 20px 20px;
}

.order__shiptoAddress {
  color: #007185;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 500px;
}

.order__topTitleItem p,
.order__shiptoAddress,
.order__total p {
  font-size: 18px;
  font-weight: 500;
}

.order__id {
  text-transform: uppercase;
  font-size: 16px;
}

.order__id small {
  margin-left: 5px;
  font-size: 16px;
  font-weight: 500;
}

.orders__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.orders__search {
  display: flex;
  align-items: center;
  gap: 10px;
}

.orders__buttonSearch {
  background-color: #303333;
  font-size: 14px;
  font-weight: 400;
  color: white;
  border-radius: 100px;
  text-align: center;
  margin-top: 0;
  padding: 8px 20px;
}
.orders__buttonSearch:hover {
  background-color: #000;
}

.order__dont {
  margin-bottom: 30px;
  margin-top: 50px;
  font-size: 18px;
  text-align: center;
  font-weight: 400;
}

.order__dont a {
  color: #007185;
}

.order__dont a:hover {
  color: #c7511f;
}

.orders__selectBox {
  margin-top: 20px;
}

.loadmore {
  background-color: rgb(245, 245, 245, 0);
  width: max-content;
  text-transform: capitalize;
  padding: 10px 30px;
  border-radius: 8px;
  margin: 0px auto;
  cursor: pointer;
  border: 1px solid #000;
}

.loadmore:hover {
  background-color: rgb(245, 245, 245, 1);
}

.OrderItemSkeleton__Wrap {
  display: flex;
  gap: 20px;
  border: 1px solid lightgray;
  padding: 20px;
}

.OrderItemSkeleton__WrapLeft {
  justify-content: space-between;
  display: flex;
  gap: 20px;
  width: 100%;
}

@media only screen and (min-width: 1201px) {
}
@media only screen and (max-width: 1200px) {
  .order__top {
    flex-direction: column;
  }
  .oder__topTitle {
    flex-direction: column;
    gap: 10px;
  }

  .order__shiptoAddress {
    width: 500px;
  }

  .order__id {
    margin-top: 10px;
    font-weight: bold;
  }
}
@media only screen and (max-width: 1024px) {
  .orders {
    padding: 20px 60px;
  }
  .order__dont {
    margin-bottom: 20px;
    margin-top: 40px;
  }
  .orders__title h1 {
    font-size: 30px;
  }

  .orders__title {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
  }

  .orders__search {
    width: 100%;
  }
  .orders__inputSearch {
    width: 100%;
  }
  .orders__buttonSearch {
    display: none;
  }
  .loadmore {
    font-size: 14px;
  }
  .order__shiptoTitle,
  .order__total,
  .order__topTitleItem h2,
  .order__id {
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
  }
  .order__topTitleItem p,
  .order__shiptoAddress,
  .order__total p,
  .order__id small {
    font-size: 17px;
  }

}
@media only screen and (max-width: 768px) {
  .OrderItemSkeleton__Wrap{
    flex-direction: column;
  }
  .order__checkoutProduct {
    padding: 0 20px 15px;
  }
  .order__shiptoAddress {
    width: 350px;
    -webkit-line-clamp: 2;
  }
  .order__top {
    padding: 15px;
  }
  .order {
    margin: 20px 0;
  }

  .orders {
    padding: 20px 40px;
  }
  .order__dont {
    margin-bottom: 20px;
    margin-top: 40px;
    font-size: 16px;
  }
  .orders__title h1 {
    font-size: 28px;
  }
  .loadmore {
    padding: 10px 20px;
  }
  .order__shiptoTitle,
  .order__total,
  .order__topTitleItem h2,
  .order__id {
    font-size: 14px;
    text-transform: uppercase;
  }
  .order__topTitleItem p,
  .order__shiptoAddress,
  .order__total p,
  .order__id small {
    font-size: 16px;
  }
  .order__id,
  .order__id small {
    font-size: 14px;
  }
}
@media only screen and (max-width: 480px) {
  .order__shiptoAddress {
    width: 200px;
    -webkit-line-clamp: 3;
  }
  .orders {
    padding: 10px 20px;
  }
  .order__dont {
    margin-bottom: 15px;
    margin-top: 30px;
    font-size: 14px;
  }
  .orders__title h1 {
    font-size: 24px;
  }
  .loadmore {
    font-size: 13px;
    padding: 10px 15px;
  }
  .order__shiptoTitle,
  .order__total,
  .order__topTitleItem h2,
  .order__id {
    font-size: 13px;
    text-transform: uppercase;
  }
  .order__topTitleItem p,
  .order__shiptoAddress,
  .order__total p,
  .order__id small {
    font-size: 15px;
  }

  .order__id,
  .order__id small {
    font-size: 13px;
  }
  .OrderItemSkeleton__WrapLeft {
    flex-direction: column;
    gap: 0px;
  }
}
