@import url("./reset.css");
@font-face {
  font-family: "AmazonEmber_W_Bd";
  src: local("AmazonEmber_W_Bd"), local("AmazonEmber_W_Bd"),
    url("../fonts/AmazonEmber_W_Rg.woff") format("woff2"),
    url("../fonts/AmazonEmber_W_Rg.woff2") format("woff");
  font-weight: 100;
  font-style: normal;
}

* {
  font-family: "AmazonEmber_W_Bd", sans-serif;
  font-weight: normal;
}

*:focus {
  outline: 0;
  outline: none;
}

body {
  background-color: rgb(234, 237, 237);
}

