.banner {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.banner__button {
  position: absolute;
  top: 20%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 100px;
  height: 100px;
  z-index: 100;
}
.--back {
  left: 20px;
}
.--forward {
  right: 20px;
}


