.productHome {
  background-color: white;
}

.productHome__title {
  padding: 20px;
  font-size: 28px;
  font-weight: 700;
}

.productCategoryFilter__flickity {
  overflow: hidden;
}

.productCategoryFilter {
  background-color: #eaeded;
  padding: 20px 50px;
  position: relative;
}

.productCategoryFilter__link {
  display: inline-block;
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.productCategoryFilter__img {
  width: 90px;
  height: 90px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  padding: 10px;
  overflow: hidden;
}

.productCategoryFilter__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.productCategoryFilter__button {
  width: 34px !important;
  height: 37px !important;
  background-color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 7px;
  position: absolute;
  top: 40%;
}

.--forward {
  right: 20px;
}
.--forward.active,
.--back.active {
  display: none;
}
.--back {
  left: 20px;
}

.productCategoryFilter__text {
  text-align: center;
  text-transform: capitalize;
}

.productHome__blockSelect {
  width: 100%;
  padding: 20px;
}

.productFilterLeft {
  width: 225px;
  padding: 25px 5px 25px 20px;
  border: 1px solid lightgray;
  flex-grow: 0;
}

.productFilterLeft__block {
  margin-bottom: 25px;
  font-size: 14px;
}

.productFilterLeft__link {
  color: #007185;
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.productFilterLeft__title {
  font-size: 18px;
  font-weight: 700;
  color: #0f1111;
  margin-bottom: 5px;
}
.productFilterLeft__action {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.productFilterLeft__action label {
  text-transform: capitalize;
}
.productFilterLeft__action label:not(:first-child) {
  margin-top: -15px;
}

.productFilterLeft__label span {
  font-size: 14px;
  font-family: "AmazonEmber_W_Bd", sans-serif;
  font-weight: normal;
}
.productFilterLeft__label span:last-child {
  width: 140px;
  margin-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
}

.productFilterLeft__label input {
  height: 13px;
  width: 13px;
}

.productFilterLeft__price {
  color: #007185;
  margin-bottom: 5px;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  cursor: pointer;
}

.productFilterLeft__price.priceActive {
  font-weight: 500;
}
.productFilterLeft__rate {
  display: flex;
  align-items: center;
  color: #007185;
  gap: 10px;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
}

.productFilterLeft__rate.rateActive {
  font-weight: 500;
}
.productFilterLeft__rate.rateActive .productFilterLeft__rating {
  border-bottom: 1px solid;
}
.productFilterLeft__rating {
  display: flex;
  color: #f0c14b;
  width: 20px !important;
}

.rating {
  display: flex;
  width: 80px;
}

.productHome__content {
  display: flex;
}

.productList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  flex: 1;
  height: max-content;
}

.productList__item {
  display: inline-block;
  padding: 20px;
  border: 1px solid lightgray;
  border-left: none;
}

.productList__image {
  width: 226px;
  height: 226px;
  margin: 0 auto;
}

.productList__title {
  font-size: 14px;
  color: #0f1111;
  margin-top: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 35px;
}

.productList__title:hover {
  color: #c7511f;
}

.productPaging {
  background-color: #eaeded;
  padding: 20px;
}

.pagination {
  display: flex;
  width: max-content;
  margin: 0 auto;
  gap: 10px;
}

.pagelink {
  display: inline-block;
  width: max-content;
  padding: 8px 12px 7px 13px;
  border-radius: 8px;
  border: 1px solid #6c6e73;
  cursor: pointer;
  user-select: none;
}

.pagination .active {
  font-weight: 700;
  background-color: #edfdff;
  border-color: #007185;
  color: #007185;
}

.disalbeLink {
  background: #fff;
  border: 1px solid #d5d9d9;
  height: 100%;
  color: #6f7373;
  cursor: text;
}
.productList__item.--notfound {
  grid-column: 1 / end;
  height: 1080px;
  text-align: center;
  padding: 80px;
  font-size: 30px;
}

.productList__price {
  font-size: 16px;
  font-weight: 400;
  color: #007185;
}

.productList__notice {
  font-style: italic;
  font-size: 15px;
  margin-top: 20px;
}

.productList__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productList__rating {
  display: flex;
  align-items: center;
  font-size: 16px;
  gap: 5px;
}

@media only screen and (min-width: 1201px) {
}
@media only screen and (max-width: 1200px) {
  .productList__image {
    width: 200px;
    height: 200px;
  }

  .productList__title {
    margin-top: 10px;
  }
  .productFilterLeft__label span:last-child {
    width: initial;
  }
}
@media only screen and (max-width: 1024px) {
  .productList__item.--notfound {
    height: max-content;
  }
  .productList__price,
  .productList__rating {
    font-size: 15px;
  }
  .productList__item {
    padding: 10px;
  }
  .productHome__title {
    font-size: 24px;
  }
  .productHome__content {
    flex-direction: column;
    padding: 10px;
  }
  .productFilterLeft {
    width: 100%;
    padding: 20px 10px;
    border: 1px solid lightgray;
    flex-grow: 0;
  }
  .productFilterLeft__block {
    margin-bottom: 20px;
    font-size: 13px;
  }
  .productFilterLeft__title {
    font-size: 17px;
  }
  .productFilterLeft__action {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .productList {
    margin-top: 10px;
  }

  .productList__item {
    padding: 15px;
    border-left: 1px solid lightgray;
  }
}
@media only screen and (max-width: 826px) {
  .productFilterLeft__action {
    display: grid;
    font-size: 14px;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 768px) {
  .pagelink {
    padding: 6px 11px 5px 11px;
    font-size: 14px;
  }
  .productPaging {
    padding: 10px;
  }
  .productList__item.--notfound {
    padding: 60px;
    font-size: 28px;
  }

  .productList__notice {
    font-size: 14px;
  }
  .productList__price,
  .productList__rating {
    font-size: 14px;
  }
  .productList__image {
    width: 200px;
    height: 200px;
  }

  .productList__title {
    font-size: 13px;
    margin-top: 10px;
  }
  .productFilterLeft__label span {
    font-size: 13px;
  }
  .productFilterLeft__block {
    margin-bottom: 10px;
  }
  .productHome__title {
    font-size: 18px;
    padding: 10px;
  }
  .productCategoryFilter {
    padding: 10px 40px;
  }
  .productCategoryFilter__link {
    width: 100px;
    gap: 8px;
  }
  .productCategoryFilter__img {
    width: 70px;
    height: 70px;
    padding: 8px;
  }
  .productCategoryFilter__text {
    font-size: 14px;
  }
  .productCategoryFilter__button {
    width: 30px !important;
    height: 28px !important;
  }
  .productFilterLeft__title {
    font-size: 15px;
  }
  .productFilterLeft__rating {
    width: 15px !important;
  }
  .rating {
    width: 55px;
  }

  .productList {
    grid-template-columns: repeat(3, 1fr);
  }

  .productList__item {
    padding: 10px;
  }
}
@media only screen and (max-width: 630px) {
  .productFilterLeft__action {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 13px;
  }
}
@media only screen and (max-width: 480px) {
  .pagination {
    gap: 5px;
  }
  .pagelink {
    padding: 6px 11px 5px 11px;
    font-size: 13px;
  }
  .productList__item.--notfound {
    padding: 40px;
    font-size: 24px;
  }

  .productList__notice {
    font-size: 13px;
    margin-top: 10px;
  }
  .productList__price,
  .productList__rating {
    font-size: 13px;
  }
  .productList {
    grid-template-columns: repeat(2, 1fr);
  }
  .productHome__content {
    padding: 5px;
  }
  .productFilterLeft__action {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 13px;
  }
  .productHome__title {
    font-size: 16px;
    padding: 10px 30px;
  }
  .productCategoryFilter__link {
    width: 80px;
    gap: 7px;
  }
  .productCategoryFilter__img {
    width: 60px;
    height: 60px;
    padding: 8px;
  }
  .productCategoryFilter__text {
    font-size: 13px;
  }

  .productFilterLeft__title {
    font-size: 14px;
  }
}

@media only screen and (max-width: 391px) {
  .pagination {
    flex-direction: column;
  }
  .pagelink {
    padding: 8px;
    font-size: 13px;
    width: 100%;
    text-align: center;
  }
}
@media only screen and (max-width: 324px) {
  .productFilterLeft__action {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .productList {
    grid-template-columns: repeat(1, 1fr);
  }
}
