.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  /* top: 0; */
  z-index: 100;
}

.headerTitle {
  display: none;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0px 20px;
  margin-top: 18px;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-inline: 10px;
  color: white;
}

.header__optionLineOne {
  font-size: 12px;
}

.header__optionLineTwo {
  font-size: 14px;
  font-weight: 800;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: white;
}

.header__basketCount {
  margin-inline: 10px;
}

.header .--accountName {
  max-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
}

.header__icon {
  color: white;
  cursor: pointer;
  display: none !important;
  margin-right: 10px;
}

.header__optionReponsive {
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 1201px) {
}
@media only screen and (max-width: 1200px) {
  .header__option:nth-child(3) {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  .header__optionLineOne {
    font-size: 11px;
  }

  .header__optionLineTwo {
    font-size: 13px;
  }

  .header__logo {
    width: 80px;
  }
}
@media only screen and (max-width: 768px) {
  .header__icon {
    display: block !important;
  }

  .header__option,
  .header__changeLanguage {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  .header__search {
    display: none !important;
  }
  .header {
    justify-content: space-between;
  }
  .header__search {
    margin: 0 5px;
  }

  .iconBasket,
  .header__icon {
    width: 25px !important;
    height: 25px !important;
  }
}
