.headerBottom {
  display: flex;
  position: sticky;
  background-color: #232f3e;
  width: 100%;
  height: 40px;
  color: white;
  align-items: center;
  gap: 20px;
  padding: 20px;;
  font-weight: 400;
  z-index: 20;
}

.headerBottom__title {
  font-size: 14px;
}

.headerBottom__item{
    display: flex;
    align-items: center;
    gap: 5px;
}

@media only screen and (min-width: 1201px) {
}
@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 1024px) {
}
@media only screen and (max-width: 768px) {
  .headerBottom {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
}